# Vim temp files and ycm
*.swp
.ycm_extra_conf.py

# Visual studio code
/.vscode

# CMake stuff
CMakeFiles/
Makefile
CMakeCache.txt
*.cmake

# Binary files
*.a
Sandbox/Sandbox

/Mouton/vendor/spdlog

# Visual studio stuff and binaries
.vs/
out/

# ImGUI init file
imgui.ini

# Clion files
cmake-build-debug/
.idea/
