[submodule "Mouton/vendor/spdlog"]
	path = Mouton/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Mouton/vendor/GLFW"]
	path = Mouton/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Mouton/vendor/glm"]
	path = Mouton/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Mouton/vendor/assimp"]
	path = Mouton/vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Mouton/vendor/pybind11"]
	path = Mouton/vendor/pybind11
	url = https://github.com/pybind/pybind11.git
